*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color:rgb(67,138,254) ;
    display: flex;
    align-items: center;
    justify-content: center;

}
#container{
    background-color:rgb(255,255,255) ;
    width:40vw;
    height:40vh ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
#first-div{
    width:100%;
    height:50%;
    background-color:#ffffff;
    border-radius: 10px;
    margin:15px 15px 15px 15px;
}
#second-div{
    width:100%;
    height:50%;
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
   
}
#timings{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    margin-top: 68px;
}
#buttons{
    background-color: rgb(255,255,255);
    border-radius: 5px;
}
#hours{
    height:70px;
    width:80px;
}
#minutes{
    height:70px;
    width:80px;
}
#seconds{
    height:70px;
    width:80px;
}
#first-button{
    height: 30%;
    width:15%;
    background-color: rgb(35,91,152);
}
#second-button{
    height: 30%;
    width:15%;
    background-color: rgb(215,49,52);
}
#third-button{
    height: 30%;
    width:15%;
    background-color: rgb(110,182,163);
}
#first-button img{
    height: 80%;
    width:30%;
}
#second-button img{
    height: 80%;
    width:30%;
}
#third-button img{
    height:80%;
    width:30%;
}